body{
    padding: 5%;
}
.input {
    background: #eee;
    border-radius: 5px;
}

#difficulty-low{
    color: green;
}

#difficulty-medium {
    color: orange;

}

#difficulty-high{
    color: red;
}
#rene{
    color: Blue;
}
.input {
    padding: 15px;
}

.highlight{
    font-weight: bold;
    font-size: 29px;
    font-style: italic;
}
p{
    font-family: Raleway;
    font-size: 23px;
    font-weight: 800;
}

li{
    font-family: Raleway;
    font-size: 23px;
    font-weight: 800;
    list-style-type: square;
}